#root {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.App {
  width: 50rem;
  height: 100%;
  border: 2px solid var(--color-primary);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-md);
  line-height: auto;
}
