.home {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-md);
  line-height: auto;
}

.fadeLeave {
  opacity: 0;
  animation: fade-down 0.5s ease-in-out;
  transform: translate(100%);
}

.fadeEnter {
  opacity: 1;
  animation: fade-up 0.5s ease-in-out;
  transform: translate(0);
}

@keyframes fade-up {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    transform: translate(0, 0);

    opacity: 1;
  }
  100% {
    transform: translate(0, 100%);
    opacity: 0;
  }
}
