.receiptPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 1103px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
}

.timerInfo {
  margin: 5rem 0rem 2rem 0rem;
  color: var(--color-gray-200);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-display);
}

.seconds {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-display);
}
