.main {
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menuItem {
  width: 20rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.menuItem:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.menuItem img {
  width: 15rem;
  height: 15rem;
}
